/*!
 * Mes styles pour les checklists
 */
.jumbotron 
{
	padding: 2rem 1rem;
	margin-bottom: 2rem;
	background-color: #e9ecef;
	border-radius: .3rem;
}
a.list-group-item.active 
{
	background-color: #09A2A2;
	border: #09A2A2;
}
li.list-group-item.active 
{
	background-color: lightgrey;
	border: lightgrey;
	color: black;
}
li.list-group-item.sous-titre 
{
	background-color: black;
	border: black;
	color: white;
}
li.list-group-item.important 
{
	color: #0d6efd;
}
.important 
{
	color: #0d6efd;
}
li.list-group-item.lumiere 
{
	color:	orange;
	font-weight: bold;
}
.lumiere
{
	color:	orange;
}